.page-header
  %h2.text-center
    Create an account
  %h5.text-center It's free and always will be.
.col-md-3.col-md-offset-3
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    .form-inputs
      = f.input :first_name, label: 'First Name', required: true, autofocus: true
      = f.input :last_name, label: 'Last Name', required: true
      = f.input :date_of_birth, label: 'Date of Birth', required: true
      = f.input :email, label: 'Email', required: true
      = f.input :password, label: 'Password', required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable)
      = f.input :password_confirmation, label: 'Confirm Password', required: true
    .form-actions.text-center.extramargin
      = f.button :submit, 'Create Account', class: 'btn btn-primary'
      = link_to 'Back', :back, class: 'btn btn-warning'
