.form
  .row.text-center
    .col-md-12
      = form_for @article do |f|
        - if @article.errors.any?
          #error_explanation
            %h6
              = pluralize(@article.errors.count, "error")
              prohibited
              this article from being saved:
            %ul
              - @article.errors.full_messages.each do |msg|
                %li= msg
        %h5
          = f.label "Title"
          %br/
          = f.text_field :article_title
        %h5
          = f.label "Tweet"
          %br/
          = f.text_area :article_text
        %p
          = f.submit "Create", class: 'btn btn-bg btn-success'
