<%= render 'header' %>

<h1>Listing all you Tweets</h1>

<table class='center'>
  <tr>
    <th>Title</th>
    <th>Tweet</th>
    <th colspan="2">Actions</th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.article_title %></td>
      <td><%= article.article_text %></td>
      <td><%= link_to 'View', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
    </tr>
  <% end %>
</table>

<br>

<div class = 'button'>
  <%= button_to "New Tweet", new_article_path, :method => "get" %>
  <br>
  <br>
  <%= button_to "Home", welcome_hey_path, :method => "get" %>
</div>
