<h1>Hey !</h1>
<h3>An Awesome, Fantastic and an Amazing Blogging Service (Coming Soon)</h3>
<p>Created by - Ram</p>

<br>
<br>

<p>
  <strong>Title:</strong>
  <%= @article.article_title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.article_text %>
</p>

<br>
<br>

<div class='button'>
  <%= button_to "Show all Tweets", articles_path, :method => "get" %>
  <br>
  <br>
  <%= button_to "Home", welcome_hey_path, :method => "get" %>
</div>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
