.page-header
  %h1.text-uppercase.text-center
    Hey !
  %h5.text-center
    An Awesome, Fantastic & an Amazing Micro Blogger (Coming Soon)
  %p.text-center
    Created by - Sreeram

.body
  .row
    .col-md-4
      .navbar.navbar-default.navbar-inverse.navbar-fixed-top
        .container-box
    .col-md-4
      .navbar.navbar-default.navbar-inverse.navbar-fixed-top
        .container-box
    .col-md-4
      .navbar.navbar-default.navbar-inverse.navbar-fixed-top
        .container-box
  %br
  .row
    .col-md-12.text-center
      - if user_signed_in?
        Welcome #{current_user.email}
        = link_to 'Logout', destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' }
      - else
        = link_to 'Login', new_user_session_path
        = link_to 'Sign Up', new_user_registration_path
      %br
        = link_to 'New Tweet', new_article_path, class: 'btn btn-bg btn-success'
        = link_to 'Show all Tweets', articles_path, class: 'btn btn-bg btn-primary'
