%br/
%br/
.container.container-fluid.text-center
  .form-group
    %h5 Login
    %br/
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true
      .field
        %br/
        = f.label :password
        %br/
        = f.password_field :password, autocomplete: "off"
      - if devise_mapping.rememberable?
        .field
          %br/
          = f.check_box :remember_me
          = f.label :remember_me
      .actions
        %br/
        = f.submit "Log in", class: "btn btn-bg btn-primary"
        %br/
        %br/
      = render "devise/shared/links"
