%body
  .row
    .col-md-12
      .header
        .container.container-box
          .heading.text-center.text-uppercase
            Login In
          %br/
          %br/
          = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            .form-inputs
              = f.input :email, label: 'Enter your email', required: true, autofocus: true, placeholder: 'Email'
              = f.input :password, required: true, placeholder: 'password'
              = f.input :remember_me, as: :boolean if devise_mapping.rememberable?

            .form-actions.text-center
              = f.button :submit, 'Log in', class: 'btn btn-success'
              .extramargin
                = link_to 'Forgot your password?', new_password_path(resource_name), class: 'hyperlinks'
