.login-form
  .col-md-12
    .header
      .heading.text-center.text-uppercase
        %h3 Login
      %br
      = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .form-inputs
          = f.input :email, required: false, autofocus: true, placeholder: 'Email Address'
          = f.input :password, required: false, placeholder: 'Password'
          = f.input :remember_me, as: :boolean if devise_mapping.rememberable?

        .form-actions.text-center
          = f.button :submit, 'Log in', class: 'btn btn-bg btn-success'
          .extramargin
            = link_to 'Forgot your password?', new_password_path(resource_name)
