.registration-form
  .col-md-12
    .heading.text-center.text-uppercase
      %h3 View Profile
    .row
      .col-md-6
        .heading.text-center.text-uppercase
          User Name:
      .col-md-6
        .heading.text-center.text-uppercase
          #{current_user.first_name} #{current_user.last_name}
    .row
      .col-md-6
        .heading.text-center.text-uppercase
          Date of Birth
      .col-md-6
        .heading.text-center.text-uppercase
          #{current_user.date_of_birth}
    .row
      .col-md-6
        .heading.text-center.text-uppercase
          Email
      .col-md-6
        .heading.text-center.text-uppercase
          #{current_user.email}
    .row
      .col-md-12
        .heading.text-center.text-uppercase
          #{current_user.avatar}
  .form-actions.text-center.extramargin
    = link_to 'Edit Profile', edit_user_registration_path, class: 'btn btn-warning'
    = link_to 'Cancel', :back ,class: 'btn btn-danger'
