!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= "#{app_name}"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js'

  %body
    .navbar.navbar-static-top{:role => "navigation"}
      .navbar-header
        %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to image_tag('hey_logo_small.png'), root_path, class: 'navbar-brand'
      .navbar-collapse
        - if user_signed_in?
          %ul.nav.navbar-nav.navbar-right
            %li= link_to 'New Tweet', new_article_path, class: 'btn btn-md btn-success'
            %li= link_to 'My Profile', edit_user_registration_path
            %li= link_to 'Logout', destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' }
        - else
          %ul.nav.navbar-nav.navbar-right
            %li= link_to 'Create Account', new_user_registration_path
      .banner
        An Awesome, Fantastic and an Amazing Idea !
    = yield

    .footer
      .container
        %p.text-muted
          Created by
          %a{href: "https://www.facebook.com/shriram.g"} Sreeram Goalla |
          | &copy; #{app_name} #{Date.today.year}
